@-webkit-keyframes onSelectedNavTab {
    0% {
        -webkit-transform: translateX(-30%);
                transform: translateX(-30%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes onSelectedNavTab {
    0% {
        -webkit-transform: translateX(-30%);
                transform: translateX(-30%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes onUnselectedNavTab {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-30%);
                transform: translateX(-30%);
        opacity: 0;
    }
}

@keyframes onUnselectedNavTab {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-30%);
                transform: translateX(-30%);
        opacity: 0;
    }
}