.selectric {
    border-radius: 3px;
    border: 1px solid #E8ECEF;
    background: #fff;
}

.selectric .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 12px;
    height: 12px;
    top: 11.5px;
    right: 10px;
}

.selectric .button::after {
    display: none;
}

.selectric .label {
    padding: 7.5px 27px 7.5px 10px;
    margin: 0;
    height: 35px;
}

.selectric .label,
.selectric-items li,
.selectric-items li.highlighted {
    background: #fff;
    font-size: 16px;
    line-height: 20px;
}