/* .selectric {
    border-radius: 3px;
    border: 1px solid #E8ECEF;
    background: #fff;
    height: 35px;
    width: 86px;
}

.selectric .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
    width: 12px;
    height: 12px;
    top: 11.5px;
    right: 10px;
}

.selectric .button::after {
    display: none;
}

.selectric .label {
    padding: 7.5px 0;
    padding-left: 10px;
    margin: 0;
    height: 34px;
}

.selectric .label,
.selectric-items li,
.selectric-items li.highlighted {
    background: #fff;
    font-size: 16px;
    line-height: 19px;
} */