@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato'),
        url('../fonts/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato-Black.woff') format('woff'),
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #333E50;
}

button {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: url('../images/icons/cursor.svg'), pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 158px;
    height: 45px;
    box-shadow: 0px 5px 10px rgba(149, 206, 90, 0.4);
}

.btn-white {
    background: #fff;
    box-shadow: none;
    border: 1px solid #DADEE2;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.btn-white:hover,
.btn-green:focus {
    border: 1px solid #333E50;
}

.btn-white:disabled {
    color: #ADB4BF;
}

.btn-green {
    background: #95CE5A;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.btn-green:hover {
    background: #8CC459;
    filter: drop-shadow(0px 5px 8px rgba(149, 206, 90, 0.8));
}

.btn-green:focus {
    border: 1px solid #333E50;
    color: #333E50;
}

.btn-green:disabled {
    background: #ADB4BF;
    box-shadow: none;
}

ul {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #388EC3;
}

a:focus {
    color: #95CE5A;
}

.link_arrow-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    align-items: center;
}

.link_arrow-icon:focus path {
    fill: #95CE5A;
}

.text-sm-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #9299A2;
    white-space: nowrap;
}

form {
    position: relative;
}

form::before {
    content: '';
    position: absolute;
    display: block;
    left: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
    background: url('../images/icons/search.svg') no-repeat center;
}

input {
    width: 100%;
    height: 45px;
    background: #F1F4F7;
    border: 1px solid #DADEE2;
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0 40px;
    outline: none;
}

input::placeholder {
    color: #ADB4BF;
}

input:focus {
    background: #fff;
    border: 1px solid #9299A2;
}

input.filled {
    background: #fff;
}

input:disabled {
    background: #E4E9EE;
}

.container {
    padding: 0 15px;
}

.top-content {
    padding: 40px 0;
    border-bottom: 1px solid #E8ECEF;
}

.top-content__inner {
    max-width: 1200px;
    margin: auto;
}

.top-content__row-top {
    position: relative;
    padding-right: 307px;
}

.top-content__row-top::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 120px;
    height: 120px;
    background: url('../images/content/stock.png') no-repeat center;
    right: 33px;
    top: 13px;
}

.top-content__title {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
}

.top-content__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.text__show-more-btn {
    display: none;
}

.top-content__form {
    margin-top: 20px;
}

.top-content__form.disabled::after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    right: 10px;
    opacity: 1;
    visibility: visible;
    background: url('../images/icons/disabled.svg') no-repeat center;
}


.form__clear-btn {
    position: absolute;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    box-shadow: none;
    top: 12px;
    right: 10px;
    visibility: hidden;
}

.form__clear-btn.active {
    visibility: visible;
}

.form__clear-btn::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/icons/clear-btn.svg') no-repeat center;
    opacity: 0;
    transition: opacity .2s;
}

.form__clear-btn.active::after {
    opacity: 1;
}

.investments-menu {
    padding: 40px 0;
    max-width: 1200px;
    margin: auto;
}

.investments-menu__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}

.investments-menu__categories {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.investments-menu__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.investments-menu__cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E8ECEF;
    border-radius: 5px;
    padding: 30px;
    box-shadow: none;
    transition: all .2s;
    cursor: url('../images/icons/cursor.svg'), pointer;
    flex-grow: 1;
    height: 100%;
    min-width: 330px;
    max-width: 482px;
    position: relative;
    margin: auto;
}

.investments-menu__cell * {
    z-index: 1;
}

.investments-menu__cell:hover {
    box-shadow: 0px 5px 20px rgba(51, 62, 80, 0.15);
    border-color: transparent;
}

.top .investments-menu__cell:first-child,
.middle .investments-menu__cell:last-child {
    max-width: 688px;
}

.top .investments-menu__cell:first-child::after,
.bottom .investments-menu__cell:first-child::after,
.middle .investments-menu__cell:last-child::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 180px;
    height: 180px;
    background: url('../images/content/stocks-bg.png') no-repeat center;
    background-size: contain;
    z-index: 0;
}

.middle .investments-menu__cell:last-child::after {
    background: url('../images/content/investment-bg.png') no-repeat center;
    background-size: contain;
}


.bottom .investments-menu__cell:first-child::after {
    background: url('../images/content/brokers-bg.png') no-repeat center;
    background-size: contain;
}

.bottom .investments-menu__cell {
    max-width: 585px;
}

.cell__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
}

.cell__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.investments-statistic {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 30px;
}

.investments-statistic article {
    min-width: 330px;
    width: calc(50% - 15px);
    border: 1px solid #E8ECEF;
    border-radius: 5px;
    padding: 30px;
}

.investments-statistic__stocks {
    border: 1px solid #E8ECEF;
    border-radius: 5px;
}

.stocks__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.investments-statistic__title {
    font-size: 22px;
    line-height: 30px;
}

.stocks__navigation-table {
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 2px;
}

.navigation-table__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    border-bottom: 1px solid #E8ECEF;
}

.stocks__navigation-table::-webkit-scrollbar {
    height: 0;
}

.navigation-table__list button {
    position: relative;
    background: none;
    box-shadow: none;
    width: auto;
    height: auto;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}

.navigation-table__list li:last-child button::before {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% + 5px);
    height: 1px;
    background: #E8ECEF;
    bottom: -1px;
    left: -5px;
}

@keyframes onSelectedNavTab {
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes onUnselectedNavTab {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-30%);
        opacity: 0;
    }
}

.navigation-table__list button::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #95CE5A;
    border-radius: 50px;
    bottom: -2px;
    transform: translateX(-30%);
    opacity: 0;
    z-index: 1;
}

.navigation-table__list button:disabled::after {
    display: none;
}

.navigation-table__list button.unselected::after {
    animation: onUnselectedNavTab .5s;
}

.navigation-table__list button.selected::after {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
    animation: onSelectedNavTab .5s;
}

.navigation-table__list button:disabled {
    color: #ADB4BF;
}

.stocks__table-list {
    width: 100%;
    margin-bottom: 23px;
}

.table-list__row {
    border-bottom: 1px solid #E8ECEF;
}

.table-list__head th {
    padding: 15px 0 12px;
}

.table-list__cell {
    text-align: left;
    padding: 10px 0;
}

.table-list__cell:last-child {
    text-align: end;
}

.table-list__cell-title-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-list__cell-title-wrapper a {
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-list__cell-title-wrapper p {
    font-size: 12px;
    line-height: 15px;
    color: #9299A2;
    margin-top: 5px;
}

.table-list__cell-img-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F1F4F7;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.table-list__cell-img-wrapper img {
    object-fit: scale-down;
    width: 30px;
}

.table-list__cell-price {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}

.rates__value {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: #ED2C35;
}

.rates__value:last-child {
    line-height: 17px;
}

.increase .rates__value {
    color: #7FC03C;
    white-space: nowrap;
}

.table-list__cell-rates {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.table-list__cell-rates::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-right: 5px;
    background: url('../images/icons/arrow-up.svg') no-repeat center;
}

.table-list__cell-rates.decline::before {
    background: url('../images/icons/arrow-down.svg') no-repeat center;
}

.investments-statistic__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
}

.investments-statistic__update-info {
    font-size: 14px;
    line-height: 20px;
    color: #ADB4BF;
}

.selectric {
    border-radius: 3px;
    border: 1px solid #E8ECEF;
    background: #fff;
}

.selectric .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 12px;
    height: 12px;
    top: 11.5px;
    right: 10px;
}

.selectric .button::after {
    display: none;
}

.selectric .label {
    padding: 7.5px 27px 7.5px 10px;
    margin: 0;
    height: 35px;
}

.selectric .label,
.selectric-items li,
.selectric-items li.highlighted {
    background: #fff;
    font-size: 16px;
    line-height: 20px;
}

.investments__calendar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.investments__calendar h2 {
    margin-bottom: 15px;
}

.news__container {
    margin-bottom: 10px;
}

.news__container {
    margin-bottom: 20px;
}

.news__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #E8ECEF;
}

.news__time {
    padding: 3px 5px;
    font-size: 12px;
    line-height: 15px;
}

.news__time.special {
    background: #FFE5E7;
    border-radius: 50px;
}


.news__status-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ED2C35;
    flex-shrink: 0;
}

.news__status-dot.green {
    background: #95CE5A;
}

.news__status-dot.orange {
    background: #F4B207;
}

.news__title {
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 1024px) {
    .investments-menu__row .investments-menu__cell:last-child {
        max-height: 218px;
    }

    .investments-menu .investments-menu__row .investments-menu__cell {
        padding: 20px;
        max-height: 193px;
        max-width: calc(50% - 15px);
    }

    .investments-menu .middle .investments-menu__cell {
        max-height: 218px;
    }

    .investments-menu .investments-menu__row .investments-menu__cell::after {
        width: 110px;
        height: 110px;
        background-size: contain;
    }

    .cell__title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .table-list__cell-title-wrapper {
        max-width: 170px;
    }

    .investments-statistic article {
        padding: 20px;
    }

    .table-list__cell:nth-child(1) {
        width: 53%;
    }

    .table-list__cell:nth-child(2) {
        width: 24%;
    }

    .table-list__cell:nth-child(3) {
        width: 18%;
    }
}

@media (max-width: 735px) {
    .top-content {
        padding: 30px 0;
    }

    .top-content__row-top {
        padding: 0;
    }

    .top-content__row-top::after {
        display: none;
    }

    .investments-menu {
        padding: 30px 0;
    }

    .investments-menu__categories {
        gap: 20px;
    }

    .investments-menu__row {
        flex-direction: column;
        gap: 20px;
    }

    .investments-menu .investments-menu__row .investments-menu__cell {
        max-width: 100%;
        width: 100%;
    }

    .investments-menu .middle .investments-menu__cell:first-child {
        max-height: 193px;
    }

    .investments-statistic {
        flex-direction: column;
        padding-bottom: 30px;
        gap: 20px;
    }

    .investments-statistic article {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .top-content__text {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        max-height: 72px;    
        transition: max-height 0.3s;
    }

    .top-content__text.show {
        overflow: visible;
        max-height: 300px;
        transition: all 0.3s;
    }

    .text__show-more-btn {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        line-height: 17px;
        color: #388EC3;
        height: auto;
        width: auto;
        background: none;
        box-shadow: none;
        margin-top: 10px;
        transition: color .3s;
    }

    .text__show-more-btn svg {
        transform: rotate(90deg);
        transition: transform 0.3s;
    }

    .text__show-more-btn.active {
        color: #95CE5A;
        transition: color .3s;
    }

    .text__show-more-btn.active svg {
        transform: rotate(-90deg);
        transition: transform 0.3s;
    }

    .text__show-more-btn.active path {
        fill: #95CE5A;
    }

    .table-list__cell-title-wrapper {
        max-width: 150px;
    }

    .table-list__cell-title-wrapper a {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .investments-statistic__footer {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
    }

    .news__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
}